.posicoes, .resultados, .aberto-fechado {
    width: 400px;
    width: 400px;
    height: fit-content;
    border-radius: var(--border-radius-padrao);
}

.resultados {
    width: 470px;
    min-width: 470px;
    border-radius: var(--border-radius-padrao);
}

#dados-base {
    height: fit-content;
    width: 460px;
    border-radius: var(--border-radius-padrao);
}

.trajeto-infos {
    margin-bottom: 20px;
}

.traco {
    height: 120px;
}

.tempos-diferenciais:nth-child(1n) {
    margin-top: 60px;
}

.tempos-diferenciais > p:not(:first-child) {
    margin-top: 120px;
}

.time-point:nth-child(1n) p.time{
    margin-top: 50px;
}

.time-point:last-child p.time {
    margin-bottom: 30px;
}