.posicoes, .resultados, .aberto-fechado{
    top: -100vh;
    transform: translateY(-100vh);
    position: absolute;
    background-color: var(--secondary-color);
    width: 95%;
    border-radius: var(--border-radius-padrao);
    padding: 40px;
    max-height: 100vh;
    overflow: auto;
    box-shadow: 1px 1px 5px var(--shawdow-color);
    opacity: 0;
    transition: .2s;
}

.resultados {     
    width: 100vw;
    min-width: 100%;
}

.appear {
    display: block;
    transition: .2s;
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
}

.trajeto-infos {
    margin-bottom: 90px;
    display: flex;
    flex-direction: row-reverse;
}

.trajeto, .tempos-diferenciais{
    padding-top: 20px;
    flex-shrink: 0;
}

.trajeto {
    width: 55%;
}

.tempos-diferenciais {
    width: 45%;
}

.bullet-point {
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    flex-shrink: 0;
}

.traco {
    width: 7px;
    height: 200px;
    background-color: var(--primary-color);
    transform: translate(6.5px, 0);
}

.time-point {
    height: 19px;
}

.time-point, .time-point-distance{
    display: flex;
    align-items: center;
}

.time, .diferenca-tempo{
    overflow: auto;
    margin-left: 20px;
    max-width: 190px;
}

.tempos-diferenciais:nth-child(1n) {
    margin-top: 100px;
}

.tempos-diferenciais > p:not(:first-child) {
    margin-top: 200px;
}

.ate-semaforo {
    margin-bottom: 20px;
}

.exit {
    cursor: pointer;
    float: right;
    border-radius: 50px;
    font-size: 2em;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-3);
    border: 0px solid var(--primary-color);
    transition: .2s;
}

.exit:hover {
    border-width: 1px;
    transition: .2s;
}

#resolution {
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
}

#resolution:focus {
    outline: 2px solid var(--primary-color);
}

.sinaleiro-abre-e-fecha {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.sinaleiro {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
}

.popup-info {
    position: static;
    display: none;
    max-width: 400px;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 10px var(--shawdow-color);
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: fit-content;
    transition: .2s;
    height: fit-content;
}

.popup-info.appear {
    display: block;
    position: static;
    transform: translate(0);
}

.popup-info button {
    float: none;
    margin-bottom: 10px;
    color:white;
}

@media screen and (max-width: 500px){
    .time-point:nth-child(1n) p.time{
        margin-top: 90px;
    }   
}