.posicoes, .resultados{
    top: -100vh;
    transform: translateY(-100vh);
    position: absolute;
    background-color: var(--secondary-color);
    width: 400px;
    padding: 30px;
    max-height: calc(100vh - 30px);
    overflow: auto;
    box-shadow: 1px 1px 5px var(--shawdow-color);
    border-radius: var(--border-radius-padrao);
    opacity: 0;
    transition: .2s;
}

.resultados {
    width: 500px;
}

.appear {
    display: block;
    transition: .2s;
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
}

.trajeto-infos {
    display: flex;
}

.trajeto, .tempos-diferenciais{
    padding-top: 20px;
    flex-shrink: 0;
}

.bullet-point {
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.traco {
    width: 7px;
    height: 50px;
    background-color: var(--primary-color);
    transform: translate(6.5px, 0);
}

.traco-info {
    margin-left: 10px;
    margin-top: 15px;
    width: 7px;
    height: 70px;
    background-color: var(--primary-color);
    position: relative;
}

.time-point {
    height: 19px;
}

.time-point, .time-point-distance{
    display: flex;
    align-items: center;
}

.time, .diferenca-tempo{
    margin-left: 20px;
}
