.posicoes {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    width: 400px;
    padding: 30px;
    max-height: calc(100vh - 30px);
    overflow: auto;
    box-shadow: 1px 1px 5px var(--shawdow-color);
    border-radius: var(--border-radius-padrao);
}